In [12]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df_original = dataset['train'].to_pandas()

# Data Cleanup
df_original['job_posted_date'] = pd.to_datetime(df_original['job_posted_date'])

# Isolating a copy of our original data so that when we make changes to the copied version, it doesn't affect or update the original dataset

In [13]:
# This is done by using the .copy() method

df_altered = df_original.copy()

In [15]:
# Confirming seperate identity

print('ID of df_original:           ', id(df_original))
print('ID of df_altered:            ', id(df_altered))
print('Are both dataframes the same?', id(df_original) == id(df_altered))

ID of df_original:            2172458803344
ID of df_altered:             2172541040528
Are both dataframes the same? False

In [18]:
median_salary = df_altered['salary_year_avg'].median()

In [20]:
df_altered['salary_year_avg'] = df_altered['salary_year_avg'].fillna(median_salary)

In [21]:
df_altered['salary_year_avg']

0         115000.0
1         115000.0
2         115000.0
3         115000.0
4         115000.0
            ...
785736    115000.0
785737    115000.0
785738    115000.0
785739    115000.0
785740    115000.0
Name: salary_year_avg, Length: 785741, dtype: float64

In [22]:
df_original['salary_year_avg']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
785736   NaN
785737   NaN
785738   NaN
785739   NaN
785740   NaN
Name: salary_year_avg, Length: 785741, dtype: float64

In [24]:
median_salary_hour = df_altered['salary_hour_avg'].median()

In [27]:
df_altered['salary_hour_avg'] = df_altered['salary_hour_avg'].fillna(median_salary_hour)

In [28]:
df_altered['salary_hour_avg']

0         45.98
1         45.98
2         45.98
3         45.98
4         45.98
          ...
785736    45.98
785737    45.98
785738    45.98
785739    45.98
785740    45.98
Name: salary_hour_avg, Length: 785741, dtype: float64

In [29]:
df_original['salary_hour_avg']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
785736   NaN
785737   NaN
785738   NaN
785739   NaN
785740   NaN
Name: salary_hour_avg, Length: 785741, dtype: float64